<div class="container">
  <h1>Hola mundo</h1>
  <div class="row">
    <h2>lista de estudiantes</h2>

    <ng-container *ngIf="listEstudiante.length > 0">
      <button class="btn btn-primary ml-auto" (click)="toggle()">Toggle</button>
    </ng-container>
  </div>
  <br>
  <table class="table" *ngIf="mostrar && listEstudiante.length > 0">
    <thead>
      <th>Nro</th>
      <th>Nombre</th>
      <th>Estado</th>
    </thead>
    <tbody>
      <tr *ngFor="let estudiante of listEstudiante; let i = index" [ngSwitch]="estudiante.estado">
        <td [ngStyle]="{ 'background-color': estudiante.estado === 'Excelente' ? '#a0e1a0' : '' }">
          <span>{{ i + 1 }}</span>
        </td>
        <td [ngStyle]="{ 'background-color': estudiante.estado === 'Excelente' ? '#a0e1a0' : '' }">
          <span>{{ estudiante.name }}</span>
        </td>
        <td [ngStyle]="{ 'background-color': estudiante.estado === 'Excelente' ? '#a0e1a0' : '' }">
          
          <span class="badge bg-success"
            *ngSwitchCase="'Excelente'">
            {{ estudiante.estado }}
          </span>

          <span class="badge bg-secondary"
            *ngSwitchCase="'Pesimo'">
            {{ estudiante.estado }}
          </span>

          <span class="badge bg-danger"
            *ngSwitchCase="'Libre'">
            {{ estudiante.estado }}
          </span>
          
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row" *ngIf="listEstudiante.length === 0">
    <h3>No hay registros encontrados</h3>
  </div>
</div>